body {
    font-family: 'Garamond', serif;
    font-weight: 600;
    margin: 0;
    padding: 0;
    background-color: #FFDEE9;
background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
}

header {
    font-family: 'Garamond', serif;
    color: #fff;
    padding: 38px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 80px;
    background-color: #333 ;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav ul {
    list-style: none;
    padding: 0;
}

.cart {
    float: right;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #000000;
    font-family: 'Garamond', serif;
    font-size: 20px;
    text-decoration: none;
    padding: 10px 20px;
}

section {
    margin-top: -60px;
    padding: 40px;
    text-align: center;
}

p {
    position: relative; /* Position the text absolutely within the container */
    top: 0; /* Align text to the top of the container */
    left: 0; /* Align text to the left of the container */
    background-color:linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
    padding: 10px; /* Add padding for readability */
}


.image-container {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    text-align: center;
}

img {
    width: 8cm;
    height: auto;
    transition: transform 0.4s ease-in-out, opacity 0.3s ease-in-out;
    padding: 15px;
}

/* Style for the image when hovered */
img:hover {
    transform: scale(1.2);
    opacity: 1;
    position: relative;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.3s ease-in-out;
    justify-content: space-between;
}

 /* style for the navigation buttons */
.slider-nav {
    margin-top: 10px;
    text-align: center;
}

.prev, .next {
    font-size: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
}

footer {
    color: #373030;
    text-align: center;
    position: flex;
    /* position: fixed; > this changes the footer to be shown at the fixed position and shows it at that place even when we scroll up or down */
    padding: 10px 0;
    bottom: 0;
    left: 0;
    right: 0;
}
