<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/css/MediaDeviceInfo.css/output.css">
    <title>IndiGlam</title>
</head>
<body>
    <header>
        <h1>IndiGlam</h1>
        <nav>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#dresses">Dresses</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <section id="home">
        <h2>Welcome to Our Store</h2>
        <p>Discover a beautiful collection of ethical Indian dresses.</p>
    </section>
    <section id="dresses">
        <h2>Our Dresses</h2>
        <!-- Display dress items here using JavaScript -->

    </section>
    <section id="about">
        <h2>About Us</h2>
        <p>Welcome to IndiGlam, your premier destination for authentic and stylish ethnic Indian dresses. At IndiGlam, we are dedicated to celebrating the beauty, diversity, and cultural richness of Indian fashion.
        </p>
    </section>
    <section id="contact">
        <h2>Contact Us</h2>
        <!-- Add a contact form or contact details here -->
    </section>
    <footer>
        <p>&copy; 2023 IndiGlam</p>
    </footer>
    <script src="script/main.js"></script>
</body>
</html>
