<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>IndiGlam</title>
</head>
<body>
    <header>
        <h1>IndiGlam</h1>
        <nav>
            <ul>
                <li><a href="#home" onclick="navigateToPage('web.html')" >Home</a></li>
                <li><a href="#dresses" onclick="navigateToPage('dresses.html')" >Dresses</a></li>
                <li><a href="#about" onclick="navigateToPage('about.html')" >About</a></li>
                <li><a href="#contact" onclick="navigateToPage('contact.html')" >Contact</a></li>
                <li><a href="#cart" onclick="navigateToPage('cart.html')" >Cart</a></li>
            </ul>
        </nav>
    </header>
    <!-- <section id="home">
        <h2>Welcome to Our Store</h2>
        <p>Discover a beautiful collection of ethical Indian dresses.</p>
    </section> -->
    <section id="home">
        <h2>Welcome to Our Store</h2>
        <div class="content">
            <img src="C:\Users\Mittesh Waghule\Downloads\AnyConv.com__IMG_3041.jpg" alt="Ethical Dresses" class="image">
            <p>Discover a beautiful collection of ethical Indian dresses at IndiGlam.Our dresses are handcrafted with love and care, combining traditional craftsmanship with modern designs. We prioritize sustainability and ethical practices, using eco-friendly materials to create elegant and stylish dresses for every occasion.</p>
            <p>Explore our exquisite range of dresses and embrace the rich cultural heritage of Indian fashion. We are dedicated to providing you with the finest selection of Indian dresses that celebrate diversity and tradition.</p>
        </div>
    </section>
    <footer>
        <p>&copy; 2023 IndiGlam</p>
    </footer>
    <script src="script/main.js"></script>
</body>
</html>
